/*-----Selectores-----*//*
#iddelobjeto {}    para seleccionar
.clasedelobjeto {} para seleccionar
nombredelobjeto {} para seleccionar, por ej: h1
div nombredelobjeto {} para seleccionar
* {} para seleccionar todos los objetos

/*-----Propiedades-----*//*
color: #color;
border: width(10px o 5rem) #color dashed|solid|dotted|double|groove|ridge|inset|outset|none|hidden;
border-style: dashed|solid|dotted|double|groove|ridge|inset|outset|none|hidden;
border-color: #color;
border-radius: radio(10px o 5rem);
border-width: width(10px o 5rem);
background-color: #color;
opacity: 0-1;
background-image: url("link de la imagen.png");
background-size: auto|cover|contain|width(5rem) height(5rem);
background-repeat: repeat-y|repeat-x;
background-position:center|top|bottom|left|right;
background: #color url("linkdelaimagen.png") repeat-x|y position / width height;
height: 5rem;
width: 5rem;
margin: top(px ó rem) right(px ó rem) bottom(px ó rem) left(px ó rem)  o un unico valor para todos los lados; Fuera del elemento
padding: top(px ó rem) right(px ó rem) bottom(px ó rem) left(px ó rem) o un unico valor para todos los lados; Dentro del elemento
overflow: visible|hidden|scroll;
outline: width(10px o 5rem) #color dashed|solid|dotted|double|groove|ridge|inset|outset|none|hidden;
text-aling

/*---------INDEX---------*/

#sectionSemanaIDEAL{
    visibility: hidden;
    position: absolute;
}

a{
    cursor: pointer;;
}

/*-----Head-----*/

html {
    font-family: 'Montserrat', sans-serif;
}

html, body{
    height:100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

#bodyIndex {
    background-image:  url("img/bg2.png");
    background-size: cover;
}

.body{
    height: 100%;
    transition: background-image 0.3s ease;
    background-image: url("img/bgt.png");
    background-size: cover;
    visibility: visible;
    transition: all 900ms;
    position: relative;
    top: 0%;
    left: 2rem;

}

/*-----Header-----*/

#logo {
    height: 4rem;
    width: 8rem;
    margin: 2rem 0 0rem 0rem;
}

/*-----Section-----*/

section {
    display:block;
    color: white;
    margin: 0;
}

#title {
    font-family: 'Poppins', sans-serif;
    margin-top: 10rem;
    font-size: 3.5rem;
}

#lorem {
    margin-bottom: 4.7rem;
    font-size: 1.3rem;
    width: 33%;
}

#check{
    display: none;
}

#check:checked ~ .body {
    top: -100%;
}

#start {
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    padding: 0.3rem 1.5rem;
    width: 15rem;
    border: 0.2rem #288d00 solid;
    border-radius: 1rem;
    color: white;
    transition: all 500ms;
}

#start:hover{
    padding: 0.5rem 2rem;
    font-size: 1.5rem;
}

/*---------RUTINAS---------*/

#bodyrutins {
    height: 100%;
    display: flex;
    flex-direction: column;
    position:relative;
    background-color: #0d0d10;
}

/*-----Header-----*/

#headerRutins{
    display: flex;
    flex-direction: row;
    height: 5rem;
}

#menu {
    display: none;
}

#ButtonsSign{
    display: flex;
    position: relative;
    justify-content: right;
    height: 100%;
    width: 100%;
}

#ButtonsSign.off{
    display: none;
}

#navAccount{
    display: flex;
    position: relative;
    justify-content: right;
    height: 100%;
    width: 100%;
}

#navAccount.off{
    display: none;
}

#accountIcon{
    border-style: none;
    background-color: transparent;

    font-size: 2.5rem;
    color: #288d00;
    margin: 1rem 2rem 0 0;;
}

.logOut{
    display: flex;
    flex-direction: row;
    border-style: none;
    background-color: transparent;
    color: rgb(207, 53, 53);
    transition: all 0.2s;
    width: 100%;
    padding: 0 1rem;
    padding-bottom: 0.4rem;
    border-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.logOut > span{
    margin-left: -0.15rem;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.2rem;
}

.logOut:hover{
    background-color: rgb(207, 53, 53);
    color: white;
}

.navPopover{
    list-style: none;
}

.Popover{
    z-index: 2;
    transition: all 0.2s;
    list-style: none;
    display: none;
    position: absolute;
    width: 200px;
    padding: 0;

    background-color: #252525;
    margin-left: -160px;

    color: white;
    text-wrap: nowrap;
    border-radius: 0.5rem;
}

.Popover.on{
    transition: all 0.2s;
    display: block;
}

.Popover > li{
    background-color: transparent;
    transition: all 0.2s;
    width: 100%;
    font-size: large;
    padding: 0 1rem;
    margin-top: 0.7rem;
    border-radius: 0.5rem;
    font-weight: 600;
}

.Popover > li > hr{
    margin: 0.5rem 0;
}

#btnSlide {
    display: flex;
    cursor: pointer;
    margin: 1.1rem -0.5rem 0 1rem;
    padding: .65rem .75rem .6rem .75rem;
    margin-left: 1.6rem;
    height: 2.5rem;
    width: 2.5rem;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    float: left;
    color: white;
    border: 0.1 #288d00 solid;
    border-radius: 10rem;
}

#btnSlide:hover{
    background-color: #222325;
}

#logor {
    height: 2rem;
    width: 6rem;
    margin: 1.5rem 0 0rem 1.5rem;
}

.links {
    background-color: #288d00;
    border-style: none;
    border-radius: 0.5rem;
    transition: all 0.2s;
    color:white;

    height: 2.5rem;
    padding: 0rem 1rem;
    font-size: 1rem;
    text-align: center;
    margin:1.3rem 2rem 0 0;
    float: right;
}

.links:hover{
    background-color: #1d6102;
}

.btnRightSlide{
    display: none !important;
    cursor: pointer !important;
    margin: 1.1rem -0.5rem 0 1rem !important;
    margin-right: 1.6rem !important;
    height: 3rem !important;
    width: 3.5rem !important;
    justify-content: center !important;
    align-items: center !important;
    vertical-align: middle !important;
    color: white !important;
    border-radius: 10rem !important;
}

.btnRightSlide.off{
    display: none !important;
}

.btnRightSlide:hover{
    background-color: #222325 !important;
}

.offcanvas{
    background-color: #17171b !important;
}

.offcanvas-header{
    display: flex !important;
    justify-content: center !important;
}

#ButtonsSignCanvas{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 100%;
}

.btnCanvas{
    margin-right: 0;
    margin-bottom: 0.5rem;
}

#accountIconCanvas{
    border-style: none;
    background-color: transparent;

    font-size: 4rem;
    color: #288d00;
    cursor: default;
    margin-top: 1rem;
}

.outline{
    border-style: solid;
    border-radius: 0.5rem;
    border-color: #288d00;
    background-color: transparent;
}

.outline:hover{
    background-color: #288d00;
}

/*-----Body-----*/

#bodyrutins{
    font-family: 'Roboto', sans-serif;
}

#page{
    display: flex;
    margin-top: 1rem;
    height: fit-content;
}

#pagerutinas, #pagebook, #pagecalendar{
    width: 100%;
}

#pagerutinas.off{
    visibility: hidden;
    display: none;
    position: absolute;
}

#pagebook{
    position: absolute;
    visibility: hidden;
}

#pagebook.on{
    position: relative;
    visibility: visible;
}

#pagecalendar{
    display: none;
}

#pagecalendar.on{
    display:block;
}

#loading.off{
    display: none;
}

#liveToastBtn{
    display: none !important; 
}

#logoToast{
    height: 2rem;
}

#bodyToast, #headerToast{
    background-color: #212529 !important;
}

#titleToast{
    font-weight: 500;
}

#headerToast{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

#bodyToast{
    color: rgb(207, 53, 53);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

/*-----Section Slide-----*/

#slidesection {
    display: flex;
    left: -100%;
    height: 100%;
    width: 209px;
}

#slidesection.sideoff{
    width: 73.6px;
}


#side {
    padding: 0;
    margin: 0.4rem 0 0 0;
    position:absolute;
    width: 209px;
}

#side.off{
    width: 73.6px;
}

.sideIcon{
    width: 25%;
    margin-bottom: -5px;
    font-size: 1.3rem !important;
    justify-content: center;
    align-items: center;
}

.googleSideIcon{
    width: 25%;
    font-size: 1.2rem;
    margin-bottom: -3.5px;
    justify-content: center;
    align-items: center;
}

.chartIcon{
    padding-left: 2px;
}

.sideLabel{
    font-family:'Roboto', sans-serif;
    font-weight: 100;
    width: 75%;
    cursor: pointer;
}

.sideLabel.off{
    display: none;
}

.sideIcon.off{
    width: 100%;
}

.googleSideIcon.off{
    width: 100%;
}


#slide {
    background-color: #0a0a0c;
    margin: 0.4rem 0 0 0;
    padding: 0;
    left:0.4rem;
    position: relative;
    left: -100%;
    width: 12rem;
    transition: all 300ms;
}

#slide.on {
    left: 0%
}

.listitle {
    margin-top: 2rem;
    display: block;
}
 
.buttonlista {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 16px;
    font-weight: 400;
    text-align: left;

    height: 48px;
    width: 184px;

    display: block;
    border-style:hidden;
    background-color: transparent;
    transition: background-color 0.1s ease;

    border-radius:0.6rem;
    padding: 0 1.6rem;
}

.buttonlistaIcon {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 16px;
    font-weight: 400;
    text-align: left;

    height: 48px;
    width: 100%;

    display: block;
    border-style:hidden;
    background-color: transparent;
    transition: background-color 0.1s ease;

    border-radius:0.6rem;
    padding: 0 1.6rem;
    padding-right: 0;
    margin-left: 0.5rem;
}


.buttonlista:hover, .buttonlistaIcon:hover {
    background-color: #222325;
}

.buttonlista.cambiado, .buttonlistaIcon.cambiado {
    background-color: #222325;
}

/*-----Section Lists-----*/

.SectionLabel{
    width: 30%;
}

#DivSemanas{
    width: 100%;
    height: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

#DivSemanasLista.off{
    display: none;
}

#listasrutinas{
    width: 100%;
    display: flexbox;
    align-content: center;
    justify-content: center;
}

#form{
    display:flex;
    margin: auto;
    padding: 0%;
    width: 90%;
}

h1{
    font-weight: 100;
    text-align-last: center;
    width: 100%;
    justify-content: center;
}

.centrado{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

.ButtonLabel{
    display: flex;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 0.3rem;
    height: 1.5rem;
    width: 85%;
    
    font-family: 'Roboto', sans-serif;
    font-size: 1.05rem;
    color: white;
    justify-content: center;
    white-space: pre-wrap;

    border-radius: 2rem;
    border-color: #17171b;
    background-color: #17171b;
    border-style:none;
}

.ButtonLabel:hover, .ButtonLabelBook:hover{
    background-color: #1e1e22;
}

.PanelLabel{
    visibility: hidden;
    position: absolute;
}

.PanelLabel.cambiado{
    visibility: visible;
    position: relative;
}

#Tabla{
    margin: auto;
    width: 85.35%;
    align-items: center;
    table-layout: fixed;
}

#pagerutins > thead, tr{
    height: 1.5rem;
    padding: 0;
    padding-top: 0.1rem;
    margin-bottom: 1rem;
    border-spacing: 1rem;
}

.thRutinas{
    padding: 0;
    padding-top: 0.1rem;
    background-color: #17171b;
    border-spacing: 1rem;
    font-weight: 100;
}

#DivShowSeries{
    display: none;
}

.tdSeries{
    width: 100%;
    position: relative;
    display: inline-flex;
}

#DivShowSeries.on{
    display: initial;
    position: absolute;
    height: 100%;
    justify-content: center;
    align-items: center;
    align-self: center;
    vertical-align: middle;
    width: 1.5rem;
    right: 0.2rem;
}

.BtnShowSeries{
    height: 1.3rem;
    width: 1.3rem;
    display: flex !important;
    align-items: center;
    align-self: center;
    justify-content: center;
    vertical-align: middle;

    border-style: none;
    border-radius: 1rem;
    background-color: transparent;
    margin-right: 0.2rem;
    margin-top: 0.1rem;
    padding-top: 0.15rem;
}

#BtnRetractSeries{
    padding-top: 0;
}

.BtnShowSeries:hover{
    background-color:#222325;
}

.BtnShowSeries.off{
    display: none !important;
}

.LabelName{
    width: 50%;
}

.LabelSeries, .LabelReps{
    width: 18%;
}

th:first-child{
    border-top-left-radius: 1rem;
}

th:last-child{
    border-top-right-radius: 1rem;
}

.dataInput{
    font-size: 0.9rem;
    margin-top: 0.1rem;
    background-color: #17171b;
    border-style: none;
    width: 100%;
    color: white;
}

#Botones{
    display:flex;
    margin: auto;
    width: 85%;    
    border-radius: 2rem;
    height: 1.6rem;
    background-color: #17171b;
    margin-bottom: 0.3rem;
}

#Dia1.cambiado{
    color:aqua;
}

#Dia2.cambiado{
    color:aqua;
}

#Dia3.cambiado{
    color:aqua;
}

#Dia4.cambiado{
    color:aqua;
}

#Dia5.cambiado{
    color:aqua;
}
.buttonTabla{
    margin: auto;
    margin-bottom: 1rem;
    height: 1.5rem;
    width: 85%;
    
    font-family: 'Roboto', sans-serif;
    font-size: 1.05rem;
    color: white;
    justify-content: center;
    white-space: pre-wrap;

    border-color: #17171b;
    background-color: transparent;
    border-style:none;
}

.buttonTabla:hover{
    border-radius: 2rem;
    background-color: #222325;
}

.labelTabla{
    margin: auto;
    height: 1.5rem;
    padding: 0;
    padding-top: 0.1rem;
    width: 33.3%;
    margin-bottom: 0.3rem;
    
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: white;
    justify-content: center;
}

#sectionAddDelete{
    display:inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.buttonsAddDelete {
    position: relative;
    display: flex;
    margin: auto;
    font-size: 0.9rem;
    height: 1.8rem;
    width: 1.8rem;
    margin-top: 1rem;
    color: white;
    background-color: #222325;
    border-style: none;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    padding-bottom: 2px;
}

.buttonsAddDelete:hover{
    background-color: #2f3031;
}

#add{
    margin-right: 0.6rem;
}

#delete{
    margin-left: 0.6rem;
}

#navbottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    visibility: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 7%;
    width: 100%;
    border-width: 0.1rem 0 0 0;
    border-style: solid;
    border-color: #288d00;
    background-color: #0d0d10;
}

#navtab{
    display: flex;
    width: 75%;
    justify-content: center;
    padding: 0;
}


@media(max-width: 1550px){
    #pagerutinas, #pagebook, #page{
        width: 100%;
        height: max-content;
        margin-bottom: 1.5rem;
    }

    .SectionLabel{
        width: 45%;
    }

    #btnSlide{
        display: none;
    }

    #side, #slide{
        visibility: hidden;
        position: fixed;
    }

    #slidesection{
        display: none;
    }

    #slide.on{
        visibility: visible;
        position: absolute;
    }

    #navbottom{
        visibility: visible;
    }
    
    #logor{
        margin-left: 2rem;
    }
}

@media(max-width: 800px){
    #pagerutinas, #pagebook{
        width: 100%;
        margin-bottom: 1rem;
    }

    .ButtonLabel{
        width: 100%;
        height: 3rem;
        font-size: 1.5rem;
    }

    #side, #slide{
        visibility: hidden;
        position: fixed;
    }

    #slidesection{
        display: none;
    }

    #slide.on{
        visibility: visible;
        position: absolute;
    }

    #btnSlide{
        position: absolute;
        visibility: hidden;
    }

    #logor{
        margin-left: 2rem;
    }

    #navbottom{
        visibility: visible;
    }

    #navtab{
        width: 90%;
    }

    .buttonsLogin{
        display: none;
    }
        
    .btnRightSlide{
        display: block !important;
    }
}

